.popup__container {
      margin: 0;
      background-color: #ffffff;
      width: 430px;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
      border-radius: 10px;
      align-items: center;
      padding: 34px 36px 37px;
      box-sizing: border-box;
      position: fixed;
  }
  
@media screen and (max-width: 767px) {
      .popup__container {
        max-width: 282px;
        padding: 25px 22px;
      }
    }