.header {
    display: flex;
    width: 100%;
    min-height: 74px;
    margin: 45px 0px 39px 0px;
    justify-content: start;
    align-items: start;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  }
  
   
  @media screen and (max-width: 767px) {
    .header {
      margin: 28px 0px 42px 0px;
      min-height: 56px;
    }
  }